@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Playball');

/*-------------------------------------------------------------------------------------------
  CSS definations for RAD Connection
-------------------------------------------------------------------------------------------*/

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	    -ms-box-sizing:border-box;
	     -o-box-sizing:border-box;
			box-sizing:border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	line-height: 26px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,
a:hover,
a:focus {
	outline:none;
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6{
font-family: 'Lato', sans-serif;
font-weight:bold;
}

h4{
	font-size:18px;
}
h2{
	font-size: 30px;
}

h1{

}
/* Common Tages */
.padding-right-none {
	padding-right:0;
}
.padding-left-none {
	padding-left:0;
}
.btn {
	display: inline-block;
    background: #00aeef;
	border: none;
	padding: 12px 25px 13px 25px;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	line-height: normal;

	border-radius: 0;
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
		-ms-transition: 0.5s;
		 -o-transition: 0.5s;
			transition: 0.5s;
			transition: all 0.5s ease;
}
.btn-rounded{border-radius: 30px;transition: all 0.6s ease}
.btn-rounded:hover{border-radius:0;}
.btn-lg {
	padding: 24px 72px;
	font-size: 18px;
}

.btn-sm{
padding: 20px 60px;
font-size: 18px;

}
.btn:hover,
.btn:focus {
	background: #000;
	color:#fff;
}
.btn-default {
	border-color: #e2e2e2;
	background: none;
	color: #666;
}

.btn-transparent{
	background: none;
	border:1px solid #00aeef;
	color:#000;
}

.searchtxt{width:145px;font-size:13px;font-weight: normal;padding-left:3px;border:1px solid #ececec;outline:0;}
.mrgntpnone{margin-top:0px !important}


.btn-transparent:hover{
border-color: #00aeef;
background: #00aeef;	
}
.form-group {
	margin-bottom: 15px;
}
.form-control {
	border: 1px solid #ddd;
	background: #fff;
	height: auto;
	padding: 10px 15px;
	font-size: 16px;
	color: #000;
	border-radius: 3px;
	box-shadow: none !important;
	outline: none !important;
}
select.form-control {
	height: auto;
}
textarea.form-control {
	min-height: 150px;
	resize: none;
}

/* section-heading */
.section-heading {
	padding-bottom: 40px;
	text-align: center;	
}
.section-heading h3 {
	font-weight: bold;
	font-size: 40px;
	color:#000;
	text-transform: uppercase;
	line-height:normal;

}
.section-heading h3 strong {
	display: block;
	color: #159cd8;

}
.section-heading h3 span {
	display: inline-block;
	position: relative;
	z-index: 1;
}
.section-heading span:before,
.section-heading span:after {
	background-color: #cbc8b7;
	width: 274px;
	height: 2px;
	margin-top: -1px;
	content: '';
	position: absolute;
	top: 50%;
	z-index: 2;
	display: none
}
.section-heading span:before {
	left: 100%;
}
.section-heading span:after {
	right: 100%;
}
.sec-padding{
	padding:60px 0;
}

.sec-padding-sm{
	padding:40px 0;
}
p{margin:0 0 15px;}

img{
	max-width:100%;
	height:auto;
}
em{font-style: italic;}
strong{font-weight:bold;}
/*-------------------------------------------------------------------------------------------*/
/* SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/
body {
	background: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #393939;
	font-weight: 400;
	
}
body p{
	line-height:29px;
}



/*Header*/
.header{
	padding:15px 0;
	background:#1e2127;
	width:100%;
	
}
body.home .header{
position: absolute;
background: transparent;
border-bottom:1px solid #fff;
}


/* navigation */
.menu {
	display: none;
}
.navigation {
	float: right;
	padding:10px 0 0;
	font-size: 15px;
}
.navigation li {
	float: left;
	padding-left: 25px;
	line-height: 45px;
	position: relative;
}

.navigation li a {
	color: #fff;
	font-size:18px;
	transition: all 0.3s ease;
}



.navigation li a.btn{
	color:#fff;
}
.navigation li a.btn:hover{
	color:#fff;
}
.navigation li a:hover, .navigation li.active a{
	color: #c4d114;
}
.navigation li.search-link {
	border-left: 1px solid #000;
	margin-left: 25px;
}

/* showcase */
.showcase{
	background:url(../images/slide1.jpg) no-repeat scroll center center;
	background-size:cover;
	padding:150px 0;
}


.slide-header h1{
color:#fff;	
font-size:34px;
text-transform: uppercase;
text-shadow: 5px 5px 20px #000;
}

.slide-content{
	padding-top:60px;
	display: inline-block;
	width:100%;
}

.slide-content ul, .slide-content h4{
	color:#fff;
}

.slide-content ul li{
	line-height: 30px;
	margin-bottom:20px;
}
.slide-content h4{
	font-size:17px;
	line-height: 22px;
	font-weight: normal;	
}

.about.sec-padding{
	padding-top:100px;
}
.abt-content{
	padding-left:30px;
}

.abt-content h1, .section-heading h2{
color:#c4d114;
font-size:34px;
margin-bottom:30px;
}


.loan-block{
	padding:40px 0;
	background: #00aeef;
	text-align: center;
	color:#fff;
}

.loan-block .loan-text{
	font-size:20px;
}

.loan-text a{
	color:#d8e800;
	font-style: italic;
	text-decoration: underline;
}
.loan-text span{display: block}


.sec-padding{
	padding:60px 0;
}
.sec-padding-lg{
	padding:80px 0;
}

.list-wrapper{
	max-width:960px;
	margin:0 auto;
}
ul.steps li{
padding-left:30px;
position: relative;

}

ul.steps{
position: relative;
}

ul.steps:before{
position: absolute;
content:"";
left:0;
width:2px;
height:70%;
top:0;
border-left:1px dashed #c4d114; 	
}

.list-content h4{
	color:#3a3a3a;
	margin-bottom:25px;
}

.list-content p{
color:#3a3a3a;
font-size:16px;
line-height: 22px;	
}

.help-block{
	padding:50px;
	border:1px solid #eeedec;
	margin-bottom:30px;	
}
.help-block h4{
	margin-bottom:30px;
}
.help-list li{
	line-height: 30px;
	margin-bottom:10px;

}
.help-list li span{
display:inline-block;
padding-right:20px;	
color:#00aeef;
}

.number {
    display: inline-block;
    position: absolute;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    border: 1px solid #c4d114;
    text-align: center;
    background:#fff;
}

.apply-block{
background:url(../images/apply-bg.jpg) no-repeat scroll center center;
background-size: cover;
}

.apply-content h1, .apply-content h3{
	color:#fff;
}
.apply-content h1{
	font-size:34px;
	line-height: 34px;
	margin:0 0 30px;
}
.apply-content h3{
font-size:24px;
line-height: 48px;
font-weight:normal;
}
.apply-block .button-block{
	margin:30px 0 0;
}

.client-block .bx-wrapper{
	border:none;
	box-shadow: none;
}
.client-block .img-wrapper{
	text-align:right;
}
.client-block .img-wrapper img{
	float: right;
}

.client-block .bx-wrapper .bx-pager.bx-default-pager a.active,
 .client-block .bx-wrapper .bx-pager.bx-default-pager a:focus, 
 .client-block .bx-wrapper .bx-pager.bx-default-pager a:hover{
 	background:#c4d114;
 }
.social-links li a span{
margin-right:10px;
    width: 20px;
    height: 20px;
    line-height: 20px
}
.footer{
background:#1e2127;
padding:30px 0 0;

}


.footer-logo{
	margin-bottom:10px;
}
.footer .footer-bottom{text-align: center;border-top:1px solid #fff;margin-top:25px;}
.footer .footer-menu{
overflow:hidden;
width:100%;
padding-bottom:15px;
border-bottom:1px solid #000;	
}
.footer .footer-links li{
	display: block;
	position: relative;
}

.footer .footer-links li:before{
content:"\f105";
font-family: FontAwesome;
color:#c4d114;
}
.footer .footer-links li a{padding-left:15px;font-size:15px;}
.footer .footer-links li a, .footer p, .footer ul li, .footer ul li a{
	color:#fff;
}
.footer-bottom{padding:15px 0;}
.social-links li a:hover, .footer .footer-links li a:hover{
	color:#c4d114;
}
.slide-login{
max-width: 480px;
position: absolute;
 box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.slide-login .login-header{
	background:#a4ae1c;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	color:#fff;
	padding:20px 60px;
}
.slide-login .range-content{
	padding:30px 60px;
	background:#fff;
}

.range-content .description{
	padding:10px;
	border:1px solid #ccc;
	color:#8e8e8e;
	font-size:14px;
}
.slide-login .image-box{
	margin:0 0 30px;
}
.slide-login .image-box img{width:100%;}
.label-right, .label-left{
display: inline-block;
margin-bottom:20px;

}
.label-left{float:left;}
.label-right{float:right;}

/*About */

.banner{position: relative;}
.banner .banner-content{
background: -webkit-linear-gradient(rgba(32, 51, 100, 0.8), rgba(32, 51, 100, 0.8));
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}
.banner .banner-title{
position: absolute;
top:50%;
transform: translateY(-50%);
color:#fff;
font-size: 48px;
text-transform: uppercase;
}

.about-feature{
padding-top:100px;
}

.feature-block{
    border: 1px solid #c4d114;
    padding: 10px 20px;
    display: block;
    position: relative;
}

.feature-icon{display: block;}

.feature-icon i{
    font-size: 32px;
    width: 80px;
    height: 80px;
    border: 1px solid #c4d114;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    position: relative;
    top: -50px;
    background: #fff;
    color: #c4d114;
    border-radius: 50%;
    left: 20px;
    transition: 0.4s;	
}


.feature-text{margin-top: -20px;}
.color{color:#c4d114}
.feature-text h4{text-transform: uppercase;}
.feature-text h4{font-size: 24px;line-height: 26px;margin:0 0 15px;}
.feature-text p{font-size: 16px;line-height: 22px}



















 /* Responsive CSS
	}
}
}
}
}
}
}
}
/////////////////////////////////*/
@media (min-width: 320px) and (max-width: 767px) {

.slide-login{display:none;}

.showcase{min-height: 0;background-position:  left center;}


.video .imgb {
	position: relative;
    left: 0;
    top: 0;
    transform: rotate(90deg);
    text-align: center;
    margin: -30px 0 -60px 0;
}
.video .imgb img {
	    width: auto;
    height: 260px;
}
.thought {
	padding-bottom: 30px;
}
.section-heading h3 {
	font-size: 24px;
	line-height: normal;
}
.section-heading span:before,
.section-heading span:after {
	width: 100%;
}
.section-heading h3 .icon img {
	width: auto;

}




/* logo */
.logo {
	text-align: center;
}
.logo img {
	width: 100%;
	height: auto;
	max-height: 100%;
}


/* navigation */
.menu,
.mb-search-link {
	float: right;
	display: block;
	font-size: 30px;
	color: #000;
	line-height: 30px;
	position: absolute;
	right: 15px;
	top:0;
}
.menu i {
	color: #fff;
	line-height: 30px;
}
.mb-search-link {
	right: 58px;
}
.navigation {
	background:#c4d114;
	width: 100%;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	position: static;
	left: 0;
	top: 100%;
	z-index: 999;
	display: none;
	margin-top:20px;
}
.navigation li {
	border-top: 1px solid #fff;
	float: none;
	padding: 0;
}
.navigation li:first-child {
	border-top: none;
}
.navigation li:last-child a{
	text-align:left!important;
}
.navigation li a {
	display: block;
	padding: 10px 15px;
	color: #fff;
	line-height: normal;
}
.navigation li.active a, .navigation li a:hover{
	color:#000;
}

.navigation li:after{display:none;}

/* showcase */

.showcase{
	background-position: left center;
}
.abt-content h1, .section-heading h2{
font-size: 30px;	
}
.abt-content{padding-left:0;}
.loan-block .loan-text{font-size:18px;}
.list-wrapper{max-width: 100%;padding:0 15px;}
.help-block{margin:30px 0;padding:0;border:none;}
.btn-lg{padding:20px 48px;font-size: 18px}
.plan-btn{margin:0 0 20px;}
.apply-content h1{font-size: 32px;line-height: 34px;}
.apply-content h3{font-size: 22px;line-height: 30px;}
.client-block .img-wrapper img{float:none;margin:0 auto;}
.client-block .img-wrapper, .client-block{text-align: center}
.footer .footer-links{margin-bottom:20px;}
.footer .info-block{margin-bottom:20px;}


/*about*/

.feature-block{
margin-bottom: 50px;
}
.img-wrapper{
	margin:0 0 20px;
}
.banner img{min-height:150px;}


}

@media (min-width: 481px) and (max-width: 767px) {

.navigation{position: relative;}
.welcome-content{text-align:center;}
.service-blocks .block .block-inner{padding:60px;}
.thought:before{height:43%;}
.thought{padding-bottom:20px;}
.events .thumbnail .caption{text-align: center}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
.welcome:after, .thought:before,  .thought:after, .mobile-slide{display: none}
.welcome-content{text-align: center}
.quote{padding:60px 0 60px;}
.video-part{padding-bottom:60px;}
.gallary-wrapper ul li{
	
	width:50%;
}
.gallary-wrapper ul li img{width:100%;}
.events .thumbnail .text{min-height: 255px;}
.navigation li a{font-size:14px;font-weight:bold;}
.social li{margin-left:7px;}
.navigation{padding:14px 0 0;}
.navigation li{padding-left:18px;}
.social li{margin-left:6px;}
.social li a{font-size:18px;}
.footer .footer-links{margin-bottom:30px;}
.footer .info-block{margin-bottom:20px;}
.slide-login .range-content{padding:30px;}

}
/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) and (max-width: 1169px) {

.container {
	width: auto;
}

.showcase .caption {
	padding: 30px 20px;
}
.showcase .caption h2 {
	font-size: 52px;
}

.events .title strong {
	display: inline-block;
	float: none;
	padding-top: 3px;
}

.professional .section-heading h3 {
	white-space: inherit;
}
.professional .section-heading {
	padding-bottom: 15px;
}
.professional h4 {
	padding: 10px 0;
}
.professional .btn-row {
	padding: 0;
}
.professional .btn-row .btn {
	margin: 0 5px;
}


.parent-coaching {
	background-position: right top;
	font-size: 20px;
}
.parent-coaching p {
    padding-bottom: 20px;
    line-height: 32px;
}

.footer .get-touch .nowrap {
	white-space: inherit;
}

.text-slider {
	font-size: 18px;
}
.text-slider .icon {
	padding-bottom: 20px;
}
.text-slider .icon img {
	width: auto;
	height: 40px;
}
.text-slider p {
	padding: 0 30px;
	line-height: 28px;
}

.ad-slider,
.events-slider {
	padding: 0 10px;
}

.events-slider .next-arrow,
.ad-slider .next-arrow {
	right: -10px;
}
.events-slider .prev-arrow,
.ad-slider .prev-arrow {
	left: -10px;
}
.mobile-slide{display: none}
}